space?: {{- if true }}ng{{ end }}:end
space?:{{sp}}{{- if true }}ok{{ end }}:end
tab?:	{{- if true }}ng{{ end }}:end
tab?:{{tab}}{{- if true }}ok{{ end }}:end

---newline?:
{{- if true }}ng{{ end }}:end

---newline?:
{{- nl -}}{{- if true }}ok{{ end }}:end
