name: Go
on: [push]
jobs:

  test:
    name: Test
    runs-on: ubuntu-latest
    steps:

    - uses: actions/setup-go@v1
      with:
        go-version: 1.14

    - uses: actions/checkout@v2

    - name: Test
      run: go test -v -race ./...
